header {
  background-image: url("../assets/ginmano.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 100% 35%;
  background-attachment: fixed;
  opacity: 0.9;
}
header nav div {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
header nav div img {
  width: 40%;
  padding-left: 20px;
  padding-top: 40px;
}
header nav div div ul li a {
  font-family: RusticusStd;
  color: #C7C6D5 !important;
  font-size: 30px !important;
  padding: 0 15px !important;
}
header nav div div ul li a:hover {
  text-decoration: underline;
}
header nav div div i {
  cursor: pointer;
  padding-left: 15px;
}

section {
  height: 15vh;
  margin-top: 35px;
}
section h2 {
  padding: 15px;
  text-align: center;
  font-size: 45px;
  font-family: RusticusStd;
  color: rgba(0, 0, 0, 0.7);
}

main .container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
  margin-bottom: 70px;
}
main .container .card {
  width: 25%;
  border: none;
}
main .container .card img {
  max-width: 100%;
}
main .container .card h3 {
  margin-top: 15px;
  text-align: center;
  font-family: RusticusStd;
  font-size: 25px;
}
main .container .card p {
  text-align: center;
  font-family: RusticusStd;
  font-size: 20px;
}
main .container .card button {
  font-family: RusticusStd;
  font-size: 22px;
  padding: 5px;
  border: none;
  border-radius: 30px;
}

@media only screen and (max-width: 767px) {
  header {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 100% 35%;
    background-attachment: fixed;
    opacity: 0.9;
  }
  header nav div {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
  }
  header nav div img {
    width: 35%;
    padding-left: 20px;
    padding-top: 40px;
  }
  header nav div div ul li a {
    font-family: RusticusStd;
    color: #C7C6D5 !important;
    font-size: 20px !important;
    padding: 0 15px !important;
  }
  section {
    height: 15vh;
    margin-top: 35px;
  }
  section h2 {
    padding: 15px;
    text-align: center;
    font-size: 35px;
    font-family: RusticusStd;
    color: rgba(0, 0, 0, 0.7);
  }
  main .container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    column-gap: 25px;
  }
  main .container .card {
    width: 32%;
    border: none;
  }
  main .container .card img {
    max-width: 100%;
  }
  main .container .card h3 {
    margin-top: 15px;
    text-align: center;
    font-family: RusticusStd;
    font-size: 18px;
  }
  main .container .card p {
    text-align: center;
    font-family: RusticusStd;
    font-size: 15px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  header {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 100% 35%;
    background-attachment: fixed;
    opacity: 0.9;
  }
  header nav div {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
  }
  header nav div img {
    width: 28%;
    padding-left: 20px;
    padding-top: 40px;
  }
  header nav div div ul li a {
    font-family: RusticusStd;
    color: #C7C6D5 !important;
    font-size: 25px !important;
    padding: 0 15px !important;
  }
  section {
    height: 15vh;
    margin-top: 35px;
  }
  section h2 {
    padding: 15px;
    text-align: center;
    font-size: 40px;
    font-family: RusticusStd;
    color: rgba(0, 0, 0, 0.7);
  }
  main .container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    column-gap: 25px;
  }
  main .container .card {
    width: 32%;
    border: none;
  }
  main .container .card img {
    max-width: 100%;
  }
  main .container .card h3 {
    margin-top: 15px;
    text-align: center;
    font-family: RusticusStd;
    font-size: 20px;
  }
  main .container .card p {
    text-align: center;
    font-family: RusticusStd;
    font-size: 15px;
  }
}
@media only screen and (min-width: 1023px) {
  header {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 100% 21%;
    background-attachment: fixed;
    opacity: 0.9;
  }
  header nav div {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
  }
  header nav div img {
    width: 20%;
    padding-left: 20px;
    padding-top: 40px;
  }
  header nav div div ul li a {
    font-family: RusticusStd;
    color: #C7C6D5 !important;
    font-size: 30px !important;
    padding: 0 15px !important;
  }
  header nav div div ul li a:hover {
    text-decoration: underline;
  }
  section {
    height: 15vh;
    margin-top: 35px;
  }
  section h2 {
    padding: 15px;
    text-align: center;
    font-size: 45px;
    font-family: RusticusStd;
    color: rgba(0, 0, 0, 0.7);
  }
  main .container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    column-gap: 25px;
  }
  main .container .card {
    width: 32%;
    border: none;
  }
  main .container .card img {
    max-width: 100%;
  }
  main .container .card h3 {
    margin-top: 15px;
    text-align: center;
    font-family: RusticusStd;
    font-size: 25px;
  }
  main .container .card p {
    text-align: center;
    font-family: RusticusStd;
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
