header{
  background-image: url("../assets/ginmano.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 100% 35%;
  background-attachment: fixed;
  opacity: 0.9;

  nav{ 
    div{
      display: flex;
      justify-content: flex-end;     
      padding-right: 30px;
      img{
        width: 40%;
        padding-left: 20px;
        padding-top: 40px;
      }
      
      div{
        ul{
          li{
            a{
              font-family: RusticusStd;
              color: white !important;
              font-size: 30px !important;
              padding: 0 15px !important;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
        i{
          cursor: pointer;
          padding-left: 15px;
        }
        .cantidad-carrito{
          background-color: rgba(16, 16, 16, 0.707);
          color: white;
          border-radius: 50%;
          font-size: 15px;
          padding: 6px;
          top: 165px;
          right: 108px;
          position: absolute;
          display: none;
        }        
      }    
    }
  }  
}

section{
  height: 15vh;
  margin-top: 35px;
  h2{
    padding: 15px;
    text-align: center;
    font-size: 45px;
    font-family: RusticusStd;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.41);
  }
}

